<main class='p-5'>
  <div class='card'>
    {{#with navigation}}
      <ul class='nav'>
        {{#each links}}
          {{#if @last}}
            <li class='nav-item'>
              <a
                class='nav-link disabled'
                href='{{href}}'
              >{{text}}</a>
            </li>
          {{else}}
            <li class='nav-item'>
              <a
                class='nav-link'
                href='{{href}}'
              >{{text}}</a>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    {{/with}}
  </div>
  <hr />
</main>