<main class='p-5'>
  <div class='card'>
    {{#with navigation}}
      <ul class='nav'>
        {{#each links}}
          {{#if @last}}
            <li class='nav-item'>
              <a
                class='nav-link disabled'
                href='{{href}}'
              >{{text}}</a>
            </li>
          {{else}}
            <li class='nav-item'>
              <a
                class='nav-link'
                href='{{href}}'
              >{{text}}</a>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    {{/with}}
  </div>
  <hr />

  <div class='row'>
    <div class='col-12'>
      <ol class='breadcrumb'>
        {{#each breadcrumb}}
          {{#if @last}}
            <li
              class='breadcrumb-item active'
              aria-current='page'
            >{{name}}</li>
          {{else}}
            <li class='breadcrumb-item'>
              <a href='{{url}}' target='_blank'>{{name}}</a>
            </li>
          {{/if}}
        {{/each}}
      </ol>
    </div>
  </div>
  <hr />
  <div class='row'>
    {{#with newsData}}
      <img class='col-12' src='{{photo}}' />
      {{#with head}}
        <h1 class='text-center my-5'>{{heading}}</h1>
        <p>{{description}}</p>
      {{/with}}
      {{#each body}}
        <h4>{{title}}</h4>
        <p>{{text}}</p>
      {{/each}}
    {{/with}}
  </div>
  <hr />

  <div class='row'>
    <div class='col-12 mb-5'>
      <div class='card'>
        <div class='card-title'>
          {{#with newsOtherBlock}}
            <h1 class='text-center my-3'>{{title}}</h1>
            <div class='row'>
              {{#each cards}}
                <div class='col-3 mb-5'>
                  <div class='card mb-3 mx-4 text-bg-dark'>
                    <div class='card-header'>{{title}}
                      {{#if isTop includeZero=true}}
                        <span
                          class='badge text-bg-success rounded-pill text-uppercase'
                        >New</span>
                      {{/if}}
                      {{#if idNew includeZero=true}}
                        <span
                          class='badge text-bg-danger rounded-pill text-uppercase'
                        >Top</span>
                      {{/if}}
                    </div>
                    <div
                      class='card-body'
                    >{{description}}</div>
                  </div>
                </div>
              {{/each}}
            </div>
          {{/with}}
        </div>
      </div>
    </div>
  </div>

  {{#with service}}
    <div class='alert alert-success text-center'>
      <h2 class='text text-light'>{{title}}</h2>
      <p class='m-2 text text-light'>{{description}}</p>
      {{#each buttons}}
        <a
          class='btn btn-primary'
          href={{link}}
        >{{text}}</a>
      {{/each}}
    </div>
  {{/with}}
  <hr />

  <div class='row'>
    {{#each footer}}
      {{#each this}}
        <div class='col-3'>
          <a href='{{link}}' target='_blank'>{{text}}</a>
        </div>
      {{/each}}
    {{/each}}
  </div>
  <hr />

</main>